.gridedit {
	width: 600px;
	margin: auto;
}
canvas.palette {
	cursor: pointer;
	margin: 5px;
}
div.palette {
	border: solid 1px #ddd;
	display: inline-block;
	vertical-align: top;
}
div.canvasAndToolbar {
	display: inline-block;
}
div.canvas {
	position: relative;
	border: solid 1px #ddd;
	background-color: #eee;
}
div.toolbar {
	padding: 5px;
}
canvas.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
}
canvas.drawing {
}
